.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Chart-container {
  margin: auto;
  max-width: 500px;
  max-height: 500px;
}

div, button {
  margin: 10px;
}

.loadingscreen {
  position: fixed;
  display: block;
  width: 100%;
  min-height: 100%;
  background: white;
  z-index: 99999;
  text-align: center;
  font-size: 24px;
  padding-top: 24px;
  font-family: Montserrat;
}

.loader09 {
  width: 10px;
  height: 48px;
  background: #764abc;
  position: relative;
  animation: loader09-u3e967ec0 1s ease-in-out infinite;
  animation-delay: 0.4s;
  top: 50%;
  margin: -28px auto 0; }
  .loader09::after, .loader09::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 48px;
    background: #764abc;
    animation: loader09-u3e967ec0 1s ease-in-out infinite; }
  .loader09::before {
    right: 18px;
    animation-delay: 0.2s; }
  .loader09::after {
    left: 18px;
    animation-delay: 0.6s; }

@keyframes loader09-u3e967ec0 {
  0%, 100% {
    box-shadow: 0 0 0 #764abc, 0 0 0 #764abc; }
  50% {
    box-shadow: 0 -8px 0 #764abc, 0 8px 0 #764abc; } }
