




.top-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top-bar, .top-bar *{
    background-color: #1DB954;;
    color: white;
    font-size: 125%;
}

.Below{
    margin-top: 70px;
}


.sidenav{
    height: 100%;
    width: 20%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 150px;
}



.sidenav *{
    padding: 15px;
    font-size: 115%;
    display: block;
    color: white;

}

.dropdown *{
    box-shadow:  1px 3px 2px 5px white;
    padding: 2px, 0px, 2px;
    background-color: #1DB954;

}

.Content {

    background-color: white;
    margin-left: 20%;
    padding-top: 20%;
}

.Content > div {
    padding-bottom: 50px;
}
