
@font-face {
  font-family: Montserrat;
  src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}

* {
  font-family: Helvetica;
}


.top-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top-bar, .top-bar *{
    background-color: #764abc;
    color: white;
    font-size: 125%;
}

.Below{
  margin-top: 70px;
}

.searchInput {
  padding-top: 15px;
}

.returnlogincontainer {
  margin-left: 60%;
  padding-left: 20%;
  position: fixed;
  font-size: 70%;
  display: inline-block;
  white-space: nowrap;
  top: 18px;
}

.logout:hover {
  color: white;
  transform: scale(1.25) perspective(1px);

}

.sidenav{

    height: 100%;
    width: 275px;
    background-color: #23282d;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 115%;
    display: block;
    color: white;
    text-align: left;
    text-indent: 35px;
}

.graphdropdown *{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graphdropdown:hover *{
  background-color: #764abc;
  color: white;
  border-style: solid;
  border-width: 2px;
  transform: scale(1.10) perspective(1px);
}

.Content {
    background-color: white;
    padding-left: 300px;
    padding-top: 5%;
}

.Content > div {
    padding-bottom: 50px;
}

.logoimg{
  background-color: white;
  -webkit-mask: url(./spotivis-logo-text.svg) no-repeat center;
  mask: url(./spotivis-logo-text.svg) no-repeat center;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}


.dropdown {
  position: relative;
  display: inline-block;
  z-index: 3;
}

#myMenu {
  list-style-type: none;
  padding-right: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
