
@font-face {
  font-family: Montserrat;
  src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}

* {
  font-family: Montserrat;
}


.top-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top-bar, .top-bar *{
    background-color: #1DB954;
    color: white;
    font-size: 125%;
}

.Below{
    margin-top: 70px;
}


.sidenav{
    height: 100%;
    width: 20%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 150px;
}



.sidenav {
    padding: 3px;
    font-size: 115%;
    display: block;
    color: white;
    text-align: left;
    text-indent: 35px;
}

.dropdown *{
    padding: 1px, 0px, 1px;
    color: white;
}

.dropdownselection {
    text-indent: 55px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Content {

    background-color: white;
    margin-left: 20%;
    padding-top: 20%;
}

.Content > div {
    padding-bottom: 50px;
}
